<div>
<body>

<table width="100%" border="0">
  <tr>
    <td colspan="2" bgcolor="#b5dcb3">
      <h1>My Book</h1>
    </td>
  </tr>
  <tr valign="top">
    <td bgcolor="#b5dcb3" width="10%"> 
    </td>
    <td bgcolor="#eee" width="50%" height="520">

<table>
<tr><td align="right">

	<form id = "logIn" name = "logIn" ng-submit = "formValidation()" class = "form-signin">
		<h3 class="form-signin-heading">Please sign in</h3>
		<!-- <div class = "container"> -->
				<input ng-model = "user.username" type = "text" id = "userName" name = "userName" value = "" maxlength = "8" 
				class="input-block-level" placeholder="User Name" required></input>
				<br>
				</br>
				<input ng-model = "user.password" type = "password" id = "password" name = "password" 
				value = "" class="input-block-level" placeholder="Password" required></input>
				<br>
				</br>
		<!-- </div> -->
		<div>
				<button class="btn btn-large btn-primary" type="submit">Sign in</button>
		</div>
	</form>
  
  </td> 
 
 <td> 

</td> </tr>
 
 <tr> <td>  </td> <td>  </td>  </tr>
 <tr> <td> </td> <td> 

 </td>  </tr>
</table> 
	

    </td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#b5dcb3">
      <center>
      Talent Improving exercise, OFS
      </center>
    </td>
  </tr>
</table>

</body>

</div>






