<div>
	<form id = "logIn" name = "logIn" ng-submit = "formValidation()" class = "form-signin">
		<h3 class="form-signin-heading">Please sign in</h3>
		<!-- <div class = "container"> -->
				<input ng-model = "user.username" type = "text" id = "userName" name = "userName" value = "" maxlength = "8" 
				class="input-block-level" placeholder="User Name" required></input>
				<br>
				</br>
				<input ng-model = "user.password" type = "password" id = "password" name = "password" 
				value = "" class="input-block-level" placeholder="Password" required></input>
				<br>
				</br>
		<!-- </div> -->
		<div>
				<button class="btn btn-large btn-primary" type="submit">Sign in</button>
		</div>
	</form>

</div>





